@model FreeNest.Models.ViewModels.LinkDtoModel
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Edit Link";
    string mainUrl = $"/{Configuration["AdminUrl"]}/";
    string webUrl = $"/{Configuration["AdminUrl"]}/Links/";
    var iconList = ViewBag.IconList as List<string> ?? new List<string>();
}
@section Styles {
    <link href="~/lib/sweetalert/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/toast-master/css/jquery.toast.css" rel="stylesheet" type="text/css">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <style>
        .select2-container--default .select2-selection--single {
            height: 46px;
            padding: 10px 16px;
            background-color: #2A3038;
            border: 1px solid #2A3038;
            color: #fff;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 24px;
                color: #fff;
            }

        .select2-container--default .select2-dropdown {
            background-color: #2A3038;
            border: 1px solid #444;
        }

        .select2-container--default .select2-results__option {
            background-color: #2A3038;
            color: #fff;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #3A4048;
            color: #fff;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #2A3038;
            border: 1px solid #444;
            color: #fff;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 44px;
        }

        .icon-option {
            margin-right: 10px;
        }

        .form-check {
            margin-top: 10px;
        }

        .form-check-input {
            background-color: #2A3038;
            border-color: #444;
        }

            .form-check-input:checked {
                background-color: #007bff;
                border-color: #007bff;
            }

        .form-check-label {
            color: #fff;
            margin-left: 5px;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
    <script src="~/lib/toast-master/js/jquery.toast.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        menuParentActive($("#linksA"));
        @Html.Raw(TempData["returnMessage"]);
        $(document).ready(function() {
            $('.icon-select').select2({
                templateResult: formatIcon,
                templateSelection: formatIcon,
                escapeMarkup: function(m) { return m; }
            });

            function formatIcon(icon) {
                if (!icon.id) return icon.text;
                var $icon = $('<span><i class="' + $(icon.element).data('icon') + ' mr-2"></i>' + icon.text + '</span>');
                return $icon;
            }
        });
    </script>
}
<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@mainUrl">Home</a></li>
            <li class="breadcrumb-item"><a href="@webUrl">Links</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input type="text" class="form-control" id="Title" name="Title" placeholder="Enter the title you want to display" value="@Model.Title" required>
                    </div>
                    <div class="form-group">
                        <label for="Icon">Icon Selection</label>
                        <select class="form-control icon-select" id="Icon" name="Icon" required>
                            <option value="" disabled selected hidden>-- Select Icon --</option>
                            @foreach (var icon in iconList)
                            {
                                var displayName = icon.Replace("fab fa-", "").Replace("-", " ");
                                <option value="@icon" data-icon="@icon">@displayName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Url">URL Link</label>
                        <input type="url" class="form-control" id="Url" name="Url" placeholder="Enter your account URL link" value="@Model.Url" required>
                    </div>
                    <div class="form-group">
                        <label for="Order">Order</label>
                        <input type="number" class="form-control" id="Order" name="Order" placeholder="Enter link order" value="@Model.Order" min="0" required>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="IsSocial" name="IsSocial" value="true" @(Model.IsSocial ? "checked" : "")>
                            <input type="hidden" name="IsSocial" value="false">
                            <label class="form-check-label" for="IsSocial">
                                Is Social Media Link
                            </label>
                        </div>
                        <small class="form-text text-muted">Check this if this is a social media profile link</small>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>